aiohttp==3.4.4
async-timeout==3.0.0
attrs==18.2.0
beautifulsoup4==4.6.3
bs4==0.0.1
bson==0.5.6
certifi==2018.8.24
chardet==3.0.4
Cython==0.28.5
fake-useragent==0.1.10
idna==2.7
idna-ssl==1.1.0
lxml==4.2.4
multidict==4.4.2
pymongo==3.7.1
PySocks==1.6.8
python-dateutil==2.7.3
python3-anticaptcha==0.9.3
requests==2.19.1
six==1.11.0
stem==1.6.0
torrequest==0.1.0
urllib3==1.24.2
yarl==1.2.6
